body{
	overflow-x: hidden;
	background-color: #f1f5f7;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.navbar{
	background-color: #FFF;
	height: 5vw;

}
.btn1{
	float: right;
    margin-right: 70px;
    margin-top: 10px;
    color:#FFF;
}
.btn{
	margin-right:20px;
}
.logo{
	height:120px;
	width:120px;
	margin:0 auto;
	margin-top: 45px;
	text-align:center;
	padding:20px 10px;
	background-color: #B22222	;
	color: #FFF;
	border-radius:4px;
}
.header{
background-image: url("images/pizza3.png");
background-size: cover;
height:450px;
}

.text-center{
	font-size: 30px;
	margin-top: 35px;
}
form{
	margin-left:20%;
	margin-top: 55px;
}
.col-xs-6{
	margin-right: 10px;
}
.mid{
	margin: 3% 7%;
}

.col-lg-4:hover{
	transition: all 0.2s ease-in-out;
	transform: scale(1.01);
	border: 1px solid grey;
	cursor: pointer;
	box-shadow: 0 0 15px 5px #A0A0A0;
}

.image1{
	height:120px;
	width:148.28px;
	background-image: url("images/1.jpg");
	background-size: cover;
	margin:0px -7px 0px -15px;
	border-radius: 4px 0px 0px 4px;
}
.image2{
	height:120px;
	width:148.28px;
	background-image: url("images/2.jpg");
	background-size: cover;
	margin:0px -7px 0px -15px;
	border-radius: 4px 0px 0px 4px;
}
.image3{
	height:120px;
	width:148.28px;
	background-image: url("images/3.jpg");
	background-size: cover;
	margin:0px -7px 0px -15px;
	border-radius: 4px 0px 0px 4px;
}
.image4{
	height:120px;
	width:148.28px;
	background-image: url("images/4.jpg");
	background-size: cover;
	margin:0px -7px 0px -15px;
	border-radius: 4px 0px 0px 4px;
}
.text1 {
    /* float: right; */
    display: inline-block;
    margin-left: 20px;
}
.col-lg-4{
	display: inline-flex;
	width:384.66px;
	background-color: #FFF;
	border-radius: 7px;
	margin: 10px;
}
.row{
	border-radius: 4px;
}
#one{
margin-left: -5px;
}
#four{
	margin-left: 25px;
}
#o_input{
	/*margin-left: -33px;
	margin: 0 auto;*/
	/*margin:18px 16px;*/ 	
	width:300px;
	
}
#o_btn{
	/*margin-left: -18px;
    margin-top: 20px;*/
    margin:18px 16px;
    width: 300px;


}

.wrapper-food{
	margin-left: 50px;
	display: flex;
	overflow-x: auto;
	/* border: 2px solid white; */
}
.wrapper-food::-webkit-scrollbar {
    display: none;
}
.wrapper-food .Food1{
	border-radius: 50%;
	border: 15px solid white;
}
.wrapper-food .Food-name{
	color: black;
	margin-left: 70px;
	/* font-weight: bold; */
	font-size: 18px;
}


.wrapper-brand{
	margin-left: 50px;
	display: flex;
	overflow-x: auto;
	/* border: 2px solid white; */
}
.wrapper-brand::-webkit-scrollbar {
    display: none;
}
.wrapper-brand .Brand1{
	border-radius: 50%;
	border: 15px solid white;
}
.wrapper-brand .Brand-name{
	color: black;
	margin-left: 70px;
	/* font-weight: bold; */
	font-size: 18px;
}
.wrapper-brand .Brand-name .Brand-time{
	color: black;
	margin-left: 26px;
	/* font-weight: bold; */
	font-size: 14px;
}

/* * Cards section */ 

.container_cards{
	margin: 3rem auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
	justify-content: center;
}

.we_offer__cards{
	border-radius: 20px;
	overflow: hidden;
}

.we_offer__cards:hover{
	transition: all 0.2s ease-in-out;
	transform: scale(1.01);
	border: 1px solid grey;
	cursor: pointer;
	box-shadow: 0 0 15px 5px #A0A0A0;
}

.we_offer__cards img{
	width: 100%;
	height: 160px;
	object-fit: cover;
	object-position: center;
}

.we_offer__cards_content{
	padding: 5px;
}

.we_offer__cards_content h2{
	font-size: 20px;
	font-weight: 500;
}

.we_offer__cards_content p{
	font-size: 12.5px;
	font-weight: 400;	
}

@media only screen and (min-width: 1150px) {
	.col-xl-4{
		float:right; margin-top: -359px;

	}
	#order{
		float:right;
	    margin-top: -359px; 
		margin-left: 73%;

	}
	#four{
		margin-left:  10px;
	}
	.menu{
		margin: 0 auto;
		margin-right: 40px;
	}
	
	.places{
		width:1186.18px;
	}

}
@media (min-width: 992px){
.col-md-3 {
    width: 33.333%;
}}